.container {
  max-width: 1000px;
}
.col-lg-8 {
  width: 78.666667%;
}
header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}
h1 {
  display: block;
  margin-block-start: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  margin-left: 135px;
}
header.masthead .site-heading .subheading:hover {
  transition-duration: 0.5s;
  color: black;
  font-weight: bold;
}
header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0;
}
header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 80px;
  margin-left: 140px;
}
header.masthead .page-heading h1,
header.masthead .site-heading h1:hover {
  color: blue;
  transition-duration: 1.5s;
  font-size: 85px;
}
h1 {
  font-weight: 800;
}
header.masthead .site-heading {
  text-align: center;
  margin-left: 258px;
  color: #fff;
}
header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: .5;
}
.masthead {
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    margin-left: -81px;
  }
  header.masthead .site-heading .subheading {
    margin-left: -70px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .masthead {
    width: 100%;
  }
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
    margin-left: -100px;
  }
  header.masthead .site-heading .subheading {
    margin-left: -90px;
  }
}
@media only screen and (min-width: 414px) and (max-width: 767px) {
  .masthead {
    width: 160%;
  }
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
    margin-left: -118px;
  }
  header.masthead .site-heading .subheading {
    margin-left: -98px;
  }
}
@media only screen and (min-width: 411px) and (max-width: 413px) {
  .masthead {
    width: 144%;
  }
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    margin-left: -132px;
  }
  header.masthead .site-heading .subheading {
    margin-left: -118px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 410px) {
  .masthead {
    width: 160%;
  }
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
    margin-left: -131px;
  }
  header.masthead .site-heading .subheading {
    margin-left: -124px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 374px) {
  .masthead {
    width: 160%;
  }
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
    margin-left: -131px;
  }
  header.masthead .site-heading .subheading {
    margin-left: -124px;
  }
}
@media only screen and (max-width: 359px) {
  .masthead {
    width: 160%;
  }
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
    margin-left: -131px;
  }
  header.masthead .site-heading .subheading {
    margin-left: -124px;
  }
}
