@media screen and (min-width: 414px) {
  .site-heading {
    margin-left: 73px !important;
  }
}
.container {
  max-width: 1000px;
}
.col-lg-8 {
  width: 78.666667%;
}
header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}
h1 {
  display: block;
  margin-block-start: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  margin-left: 135px;
}
header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0;
}
header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 80px;
  margin-left: 140px;
}
h1 {
  font-weight: 800;
}
header.masthead .site-heading {
  text-align: center;
  margin-left: 258px;
  color: #fff;
}
header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: .5;
}
.masthead {
  width: 100%;
}
@media only screen and (min-device-width: 415px) and (max-device-width: 768px) {
  .stm-login-form {
    width: auto;
    margin-top: -180px;
  }
  .b {
    margin-top: -20px;
    margin-left: 15px;
  }
  .a {
    margin-top: -20px;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .masthead {
    width: 170%;
  }
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
    margin-left: -170px;
  }
  header.masthead .site-heading .subheading {
    margin-left: -170px;
  }
}
@media only screen and (max-width: 1024px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    margin-left: 100px;
  }
  header.masthead .site-heading .subheading {
    margin-left: 100px;
  }
}
@media only screen and (min-device-width: 412px) and (max-device-width: 414px) {
  .masthead {
    width: 170%;
  }
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    margin-left: 70px;
  }
  header.masthead .site-heading .subheading {
    margin-left: 85px;
  }
}
@media only screen and (min-device-width: 376px) and (max-device-width: 411px) {
  .masthead {
    width: 160%;
  }
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    margin-left: -120px;
  }
  header.masthead .site-heading .subheading {
    margin-left: -110px;
  }
}
@media only screen and (min-device-width: 361px) and (max-device-width: 375px) {
  .masthead {
    width: 170%;
  }
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
    margin-left: -120px;
  }
  header.masthead .site-heading .subheading {
    margin-left: -115px;
  }
}
@media only screen and (min-device-width: 321px) and (max-device-width: 360px) {
  .masthead {
    width: 190%;
  }
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    margin-left: -110px;
  }
  header.masthead .site-heading .subheading {
    margin-left: -100px;
  }
}
@media only screen and (min-device-width: 300px) and (max-device-width: 320px) {
  .masthead {
    width: 190%;
  }
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    margin-left: -130px;
  }
  header.masthead .site-heading .subheading {
    margin-left: -120px;
  }
}
@media only screen and (min-device-width: 0px) and (max-device-width: 299px) {
  .masthead {
    width: 160%;
  }
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    margin-left: -170px;
  }
  header.masthead .site-heading .subheading {
    margin-left: -160px;
  }
}
