.type-1791 .nav-tabs {
  border-bottom: none;
}
.type-1791 .columns {
  float: left;
  width: 100%;
  padding: 8px;
}
.type-1791 .price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.type-1791 .price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}
.type-1791 .price .header {
  background-color: #153e4d;
  color: white;
  font-size: 17px;
}
.type-1791 .price li {
  border-bottom: 1px solid #eee;
  padding: 14px;
  text-align: center;
}
.type-1791 .price .grey {
  background-color: #eee;
  font-size: 17px;
}
.type-1791 .button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  transition-duration: 0.2s;
}
.type-1791 .columns .cls {
  font-size: 20px;
  line-height: 20px;
  color: #153e4d;
  font-weight: 700;
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  .type-1791 .columns {
    width: 100%;
  }
}
.type-1791 .rene {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  margin-top: 76px;
}
.type-1791 .rene li.moto {
  background-color: #153e4d;
  color: #fff;
}
.type-1791 .rene .box {
  padding: 15px 0 15px 30px;
}
.type-1791 .pricing {
  color: #337ab7;
  text-decoration: none;
}
.type-1791 .pricing:hover {
  color: red;
}
.type-1791 .check {
  margin-bottom: 10px;
}
.type-1791 .nav-tabs>li.active>a,
.type-1791 .nav-tabs>li.active>a:focus,
.type-1791 .nav-tabs>li.active>a:hover {
  color: #fff;
  cursor: default;
  background-color: #153e4d;
  border: 1px solid #153e4d;
}
.type-1791 .nav-tabs>li>a {
  color: #153e4d;
  margin-right: 2px;
  line-height: 1.42857143;
  border: 2px solid #153e4d;
}
.type-1791 .columns .price a:hover {
  background: #153e4d;
}
.type-1791 .person {
  float: right;
  color: #fff;
  font-weight: bold;
  background: #1bc744;
  padding: 3px 16px 3px 16px;
  margin-right: 3.5%;
  margin-bottom: -9px;
}
.type-1791 .leader {
  float: right;
  color: #fff;
  font-weight: bold;
  background: #6c98e1;
  padding: 3px 16px 3px 16px;
  margin-bottom: -9px;
}
