.stm-pricing__tables {
  float: right;
  width: 74.325%;
  margin: 0 -15px;
}
.stm-pricing__tables {
  float: right;
  width: 74.325%;
  margin: 0 -15px;
}
.stm-pricing__tables-row {
  width: 100%;
}
.stm-pricing__tables-col {
  float: left;
}
.stm-pricing__tables-col {
  width: 33.33%;
}
.stm-pricing__tables-col .stm-pricing__tables-col-inner {
  padding: 0 15px 60px;
}
.stm-pricing_2 .stm-pricing__tables-col {
  width: 50%;
}
.stm-pricing_2 .stm-pricing__tables-col .stm-pricing__tables-col-inner {
  padding: 0 15px;
}
.stm-pricing_1 .stm-pricing__tables-col {
  width: 100%;
}
.stm-pricing_1 .stm-pricing__tables-col .stm-pricing__tables-col-inner {
  padding: 0 15px;
}
.tm-pricing-table__title {
  margin-bottom: 21px;
  font-size: 20px;
  line-height: 20px;
  color: #153e4d;
  font-weight: 700;
  text-transform: uppercase;
}
.stm-pricing-table__periods {
  position: relative;
  padding: 0;
  list-style: none;
}
.stm-pricing-table__periods-item {
  display: none;
}
.stm-pricing-table__periods-item_active {
  display: block;
}
.stm-pricing-table__price {
  min-height: 50px;
  margin-bottom: 0;
  line-height: 50px;
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #fff;
  background-color: #153e4d;
}
.stm-pricing-table__period {
  font-size: 14px;
  line-height: 24px;
  color: gray;
}
.stm-pricing-table__features {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.stm-pricing-table__feature {
  padding: 10px 15px;
  margin-bottom: 0;
  line-height: 30px;
  font-size: 15px;
}
.stm-pricing-table__feature:hover {
  font-size: 18px;
  font-weight: bold;
  transition-duration: 0.5s;
}
.stm-pricing-table__feature .fa.fa-check {
  color: #1bc744;
}
.stm-pricing-table__feature .fa.fa-minus {
  color: #aaa;
}
.stm-pricing-table__feature:nth-child(even) {
  background-color: #f0f2f5;
}
.stm-pricing-table__feature-label {
  display: none;
  font-size: 14px;
  font-weight: 700;
  color: gray;
  line-height: normal;
}
.stm_pricing_table_col_labels {
  min-height: 25px;
}
.stm_pricing_table_col_labels .stm_pricing_table_single_label {
  display: block;
  float: right;
  padding: 0 20px;
  font-size: 12px;
  height: 25px;
  line-height: 26px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.stm_pricing_table_col_labels .stm_pricing_table_single_label:nth-child(odd) {
  background-color: #1bc744;
}
.stm_pricing_table_col_labels .stm_pricing_table_single_label:nth-child(even) {
  background-color: #6c98e1;
}
.stm-pricing-table__feature-value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.stm-pricing-table {
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);
}
.stm-pricing__content {
  margin-bottom: 50px;
}
.col-md-3 stm-pricing__side-panel {
  float: left;
  width: 24.3255%;
}
.col-md-3 stm-pricing__side-panel ul li:hover {
  background: #153e4d;
  color: pink;
}
.stm-pricing__filters {
  margin: 25px 0;
  min-height: 50px;
}
.stm-pricing__filters ul {
  position: relative;
  float: left;
  padding-left: 0;
  margin-bottom: 0;
  border: 2px solid #153e4d;
  list-style: none;
}
.stm-pricing__filters li {
  float: left;
  margin-bottom: 0;
  font-size: 13px;
  text-transform: capitalize;
}
.stm-pricing__filters li.stm-pricing__filter_active a {
  background-color: #153e4d;
  color: #fff;
}
.stm-pricing__filters .stm-pricing__filter_fluid-hover {
  position: absolute;
  background: #153e4d;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}
.stm-pricing__features li:hover {
  background: #153e4d;
  color: #fff;
}
.stm-pricing__features li:nth-child(odd) {
  background-color: #fff;
}
.stm-pricing__features li:nth-child(odd):hover {
  background: #153e4d;
  color: #fff;
}
.stm-pricing__tables {
  float: right;
  width: 74.325%;
  margin: 0 -15px;
}
.stm-pricing__tables-row {
  width: 100%;
}
.stm-pricing__tables-col {
  float: left;
}
.stm-pricing_3 .stm-pricing__tables-col {
  width: 33.33%;
}
.stm-pricing_3 .stm-pricing__tables-col .stm-pricing__tables-col-inner {
  padding: 0 15px 60px;
}
.stm-pricing_2 .stm-pricing__tables-col {
  width: 50%;
}
.stm-pricing_2 .stm-pricing__tables-col .stm-pricing__tables-col-inner {
  padding: 0 15px;
}
.stm-pricing_1 .stm-pricing__tables-col {
  width: 100%;
}
.stm-pricing_1 .stm-pricing__tables-col .stm-pricing__tables-col-inner {
  padding: 0 15px;
}
.stm-pricing-table {
  position: relative;
  padding: 30px 17px 5px;
  background: #fff;
  border-top: 4px solid #153e4d;
  text-align: center;
}
.stm-pricing-table__title {
  margin-bottom: 21px;
  font-size: 20px;
  line-height: 20px;
  color: #153e4d;
  font-weight: 700;
  text-transform: uppercase;
  word-wrap: break-word;
}
.btn-primary {
  background: #153e4d;
  list-style: none;
  width: 80px;
  border: 2px solid #153e4d;
  overflow: auto;
}
.btn-primary:hover {
  color: #fff;
  background: #6775d3;
  border: 2px solid #153e4d;
}
.btn-primarys {
  background: #fff;
  list-style: none;
  width: 80px;
  border: 2px solid #153e4d;
}
.btn-primarys:hover {
  color: #fff;
  background: #6775d3;
  border: 2px solid #153e4d;
}
.btn-style {
  color: #153e4d;
  background: #fff;
  position: relative;
  list-style: none;
  width: 80px;
}
.zev {
  color: blue;
  margin-left: 15px;
}
.stm-pricing__feature {
  background: #fff;
  color: black;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: left;
}
.stm-pricing__feature:hover {
  background: #153e4d;
  color: #fff;
}
.the {
  margin-top: 24px;
}
