.type-1791 {
      .nav-tabs {
        border-bottom: none;
      }
      
      .columns {
        float: left;
        width: 100%;
        padding: 8px;
      }
      
      .price {
        list-style-type: none;
        border: 1px solid #eee;
        margin: 0;
        padding: 0;
        -webkit-transition: 0.3s;
        transition: 0.3s;
      }
      
      .price:hover {
        box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
      }
      
      .price .header {
        background-color: #153e4d;
        color: white;
        font-size: 17px;
      }
      
      .price li {
        border-bottom: 1px solid #eee;
        padding: 14px;
        text-align: center;
      }
      
      .price .grey {
        background-color: #eee;
        font-size: 17px;
      }
      
      .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        transition-duration: 0.2s;
      }

      .columns .cls {
        font-size: 20px;
        line-height: 20px;
        color: #153e4d;
        font-weight: 700;
        text-transform: uppercase;
      }
      
      @media only screen and (max-width: 600px) {
        .columns {
          width: 100%;
        }
      }

      .rene {
        padding-left: 0;
        list-style: none;
        margin-bottom: 0;
        margin-top: 76px;
    }

    .rene li.moto {
      background-color: #153e4d;
      color: #fff;
  }

  .rene .box {
    padding: 15px 0 15px 30px;
  }

  .pricing {
    color: #337ab7;
    text-decoration: none;
  }

  .pricing:hover {
    color: red;
  }

  .check {
    margin-bottom: 10px;
  }

  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #153e4d;
    border: 1px solid #153e4d;
  }

  .nav-tabs>li>a {
    color: #153e4d;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 2px solid #153e4d;
  }

  .columns .price a:hover {
    background: #153e4d;
  }

  .person {
    float: right;
    color: #fff;
    font-weight: bold;
    background: #1bc744;
    padding: 3px 16px 3px 16px;
    margin-right: 3.5%;
    margin-bottom: -9px;
  }

  .leader {
    float: right;
    color: #fff;
    font-weight: bold;
    background: #6c98e1;
    padding: 3px 16px 3px 16px;
    margin-bottom: -9px;
  }
}