.ax {
  background: #FFF;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: bold;
}
.b {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  float: left;
  margin-left: 50px;
  margin-top: -20px;
}
.a {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  float: left;
  margin-left: 20px;
  margin-top: -20px;
}
.form-group {
  width: auto;
}
.aa {
  background-color: #153e4d;
  font-weight: bold;
  color: #FFF;
  margin-top: 10px;
  padding: 20px;
}
.stm-listing-loader {
  opacity: 0;
  color: #fff;
}
.form-group input {
  line-height: 37px;
  display: block;
  width: 100%;
  color: #000;
  background: #f9f4a0;
}
body

.stm-login-register-form .stm-login-form form input[type=submit] {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px !important;
  padding: 16px 46px 12px;
  font-weight: 700;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  background: green;
  padding-top: 3px;
  padding-bottom: 3px;
  width: auto;
}
h3,
.h3 {
  margin-bottom: 15px;
  line-height: 1.2;
  font-size: 26px;
  font-weight: 700;
  margin-left: 15px;
}
.box:hover {
  background: blue;
}
@media only screen and (min-width: 1024px) {
  .aa {
    width: 40%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .aa {
    width: 50%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 767px) {
  .aa {
    width: 100%;
  }
}
@media only screen and (min-width: 414px) and (max-width: 600px) {
  .aa {
    width: 100%;
  }
}
@media only screen and (min-width: 411px) and (max-width: 413px) {
  .aa {
    width: 100%;
  }
}
@media only screen and (min-width: 375px) and (max-width: 410px) {
  .aa {
    width: 100%;
  }
}
@media only screen and (min-width: 360px) and (max-width: 374px) {
  .aa {
    width: 100%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .aa {
    width: 100%;
  }
}
@media only screen and (max-width: 319px) {
  .aa {
    width: 100%;
  }
}
.stm-forgot-password a {
  color: #fff;
  text-decoration: none;
}
.stm-forgot-password a:hover {
  color: yellow;
}
