.container {
  max-width: 1140px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  color: #337ab7;
}
.ml-auto,
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.btn-primary {
  background-color: #0085a1;
  border-color: #0085a1;
}
.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
}
.float-right {
  float: right !important;
}
.post-preview>a>.post-title {
  font-size: 36px;
}
h1 {
  font-weight: 800;
}
.post-preview>.post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
}
